<template>
	
	<div class="footer">

		<div class="container">

			<h2 class="footer__title">Ooreka c'est aussi :</h2>

			<div class="columns is-multiline">
				<div class="column is-one-fifth" v-if="universe.id != 19" v-for="universe in universes" :key="universe.id">
					<div class="footer__universe">
						<a :href="universe.url">
							<img src="static/img/chouette_logo.svg" width="50" alt="Logo chouette">
							<p>{{universe.name}}</p>
						</a>					
					</div>
				</div>
			</div>

		</div>


	</div>
	
</template>

<script>
export default {
	props: ["universes"]
}
	
</script>

<style lang="scss">

.footer {
	background-color: #4b4182;
	height:500px;
	color: #fff;
}

.container {
	max-width: 1000px;
}

.footer__title {
	font-size:2.6rem;
	font-weight: 700;
	margin-bottom:30px;
}

.footer__universe {
	text-align: center;
	height: 125px;
	background-color: #373060;
	margin-bottom:40px;
	font-size: 1.8rem;
	font-weight: 700;
	transition: all .3s ease-in-out 0s;

	img {
		margin-top: 20px;
	}

	a {
		color: #fff;
	}
}

.footer__bottom {
	height: 50px;
	background-color: #fff;
}

</style>