<template>

	<div>
		<div class="header">
			<a href="#" class="header__logo">
				<img src="static/img/logoOOheader.svg" alt="Logo">
				<span class="header__site-theme">{{siteTheme}}</span>
			</a>
			<a href="#" class="header__my-account">Mon compte</a>
		</div>
	</div>

</template>

<script>

export default {
	props: ["siteTheme"],
	data() {
		return {

		}
	}
}
	
</script>

<style lang="scss">

.header {
	height:76px;
	background-color: #fff;	
}

.header__logo {

	display: flex;
	align-items: center;
	justify-content:center;

    img {
    	width: 200px;
		margin-top:10px;
		margin-right:5px;
    }
}

.header__site-theme {
	display:inline-block;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.2rem;
	color: #4b4182;
}

.header__my-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:50px;
    margin-top:-40px;
    color: #333;
    font-weight: 500;
}

</style>