<template>

	<div id="app">

		<Header siteTheme="Maison" />

		<div class="content container">

			<div class="comprendreContent-header">
				<h1>{{comprendreContent.title}}</h1>
				<div class="comprendreContent-header__author">
					<a href="#">
						<img src="static/img/chouette_logo.svg" alt="Logo chouette">
						<span>Rédigé par des auteurs spécialisés Ooreka</span>
					</a>
				</div>
			</div>

			<div class="comprendreContent-body">

				<div class="comprendreContent-body__summary">
					<h2>
						Sommaire
					</h2>

					<ul>
						<li v-for="section in comprendreContent.text.summary">{{section}}</li>
					</ul>
				</div>

				<div class="columns">
					<!-- Left column : COMPRENDRE content -->
					<div class="column is-two-thirds">
						<div class="comprendreContent-body__text" v-html="comprendreContent.text.text">
							
						</div>



						<div class="downloadableContent">
							<h2>{{downloadableContent.name}} : votre guide gratuit à télécharger</h2>

							<div class="columns downloadableContent__description">
								
								<div class="column is-three-quarter">
									<p>Vous trouverez au sein de ce guide rédigé par des auteurs spécialisés :</p>

									<ul>
										<li>Une vision complète pour comprendre le sujet</li>
										<li>Les infos essentielles pour vous aider dans vos choix</li>
										<li>Des conseils sur l'achat, la pose et l'entretien</li>
									</ul>
								</div>

								<div class="column is-one-quarter">
									<img :src="'https://media.ooreka.fr/' + downloadableContent.image_media.files_data['source-vertical'].file_name" alt="Ebook image" />
								</div>

							</div>

							<div class="downloadableContent__CTA">
								<a :href="'https://media.ooreka.fr/' + downloadableContent.file_path">
									<button>Télécharger mon guide</button>
								</a>								
							</div>


						</div>				

					</div>

					<!-- Right column : ADVERTISING -->
					<div class="column is-one-third">
						<div class="comprendreContent-body__advertising">
						</div>
					</div>
				</div>


			</div>

		</div>

		<Footer :universes="universes" />
  	</div>

</template>

<script>
import Header from "./components/Header"
import Footer from "./components/Footer"

export default {
  	name: 'app',
  	data() {
		return {
	  		comprendreContent: null,
	  		downloadableContent: null,
	  		universes: null
		}
  	},
  	components: {
  		Header,
  		Footer
  	},
  	methods: {
		load() {
			let vm = this

			// Get COMPRENDRE content //
	  		this.ajaxGet("https://front-api.prod.ooreka.fr/api/comprendre_contents/escalier.ooreka.fr_escalier_de_jardin", (data) => {
			    vm.comprendreContent = data.data
			})

	  		// Get DOWNLOADABLE content //
	  		this.ajaxGet("https://front-api.prod.ooreka.fr/api/downloadable_contents/745569", (data) => {
	  			vm.downloadableContent = data.data
	  		})

	  		// Get UNIVERSES //
	  		this.ajaxGet("https://front-api.prod.ooreka.fr/api/universes", (data) => {
	  			vm.universes = data.data
	  		})

		},
		ajaxGet(url, callback) {
			let xmlhttp = new XMLHttpRequest()
		    xmlhttp.onreadystatechange = () => {
		        let data = JSON.parse(xmlhttp.responseText);
		        callback(data)
		    }

		    xmlhttp.open("GET", url);
		    xmlhttp.send();
		}
  	},
  	created() {
		this.load()
  	}
}
</script>

<style lang="scss">
#app {
	  font-family: Roboto Slab,Arial,Helvetica,sans-serif;
	  color: #2c3e50;
	  background-color: #eceff1;
}

html {
	font-size: 0.625rem;
}

body {
	font-size: 1.5rem;
}

a {
	color: #fa3c3c;
}

a:hover {
	color: #fa0c0c;
}


.content {
	max-width: 1000px;
	margin-top: 30px;
	padding: 20px;
	background-color: #fff;
	text-align: justify;
}

.comprendreContent-header {
	text-align: center;

	h1:before {
		content: "";
	    width: 8rem;
	    height: .1rem;
	    background-color: #fa5a1e;
	    position: absolute;
	    bottom: -10px;
	    left: 50%;
	    margin-left: -4rem;
	}

	h1 {
		font-size: 3.6rem;
		position: relative;
	}


}

.comprendreContent-header__author {
	margin-top:30px;

	img {
		width: 2rem;
	}

	span {
		font-size: 1.2rem;
		color: #333;
	}
}

.comprendreContent-body__summary {
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-top: 1px solid #eceff1;
	border-bottom: 1px solid #eceff1;
	font-size: 1.6rem;


	ul {
		list-style: none!important;
		padding: 0;
		margin: 0;
		
		li {
			padding-left: 1em; 
			text-indent: -.7em;
		}

		li::before {
			content: "\2022";
			position: static;
		    margin-right: .5rem;
		    color: #fa5a1e;
		    font-family: FontAwesome;
		    font-size: 16px;
		    line-height: normal;
		}

	}

}

.comprendreContent-body__text {
	
	.img_droite {
		float:right;
	}


	h2 {
		color: #4b4182;
	}

	.lien_m {
		background-color: #eceff1;
		padding: 2rem;
	}

}

.downloadableContent {
	margin-top: 30px;
	margin-bottom: 30px
}

.downloadableContent__description {
	p {
		font-weight: bold;
		font-size: 1.8rem;		
	}

}

.downloadableContent__CTA {
	button {
		padding: .8rem 1.3rem;
	    background-color: #fa5a1e;
	    border: 2px solid #fa5a1e;
	    color: #fff;
	    font-size: 1.5rem;
	    line-height: 2.4rem;
	    border-radius: .3rem;
	    text-transform: uppercase;
	    cursor: pointer;
	    box-shadow: 0 2px 10px -1px #ccc;
	    transition: all .1s ease-in-out 0s;
	}
}

</style>
